/*
 * InterProScan 6 licensed-application paths for UCR HPCC.
 *
 * NOT used by default. The pipeline runs IPS6 without licensed apps, because
 * funannotate annotate reads only InterPro entries and GO terms from the IPS
 * XML, and DEEPTMHMM_ANNOTATION / SIGNALP_RUN already supply funannotate's
 * TM and signal-peptide calls. To add these analyses to the IPS6 output too:
 *
 *   --iprscan6_licensed_config ${projectDir}/assets/interproscan6/licensed_ucr_hpcc.config
 *   --iprscan6_applications <list>     (licensed apps are not in IPS6's default
 *                                        set: deeptmhmm/signalp need --run-ml or
 *                                        an explicit --applications list)
 *   bash scripts/setup_interproscan6.sh --licensed   (pulls their images)
 *
 * IPS6 wants the EXTRACTED APPLICATION DIRECTORY for each app, not a binary
 * or a conda env. This replaces /srv/projects/db/interproscan/6.0.0/licensed.conf,
 * whose four paths were all wrong for IPS6 (checked 2026-09-28):
 *   deeptmhmm   pkgs/deeptmhmm/1.2/        is a conda env (no predict.py)
 *   phobius     .../1.01/bin/phobius       is the binary (IPS6 needs the dir with phobius.pl)
 *   signalp_*   .../6.0i-gpu/env/bin/signalp  is the binary (IPS6 needs the dir with signalp-6-package/)
 *
 * Cost note: IPS6 stages the DeepTMHMM directory (2.7 GB) into EVERY
 * DeepTMHMM chunk's work dir by copy (stageInMode 'copy' in its
 * modules/deeptmhmm/main.nf).
 */
params {
    appsConfig {
        deeptmhmm {
            dir = "/opt/linux/centos/8.x/x86_64/src/d/deeptmhmm/DeepTMHMM-Academic-License-v1.0"
        }
        phobius {
            dir = "/opt/linux/centos/8.x/x86_64/pkgs/phobius/1.01/bin"
        }
        signalp_euk {
            dir  = "/opt/linux/centos/8.x/x86_64/src/s/signalp/signalp6_fast"
            mode = "fast"
        }
        signalp_prok {
            dir  = "/opt/linux/centos/8.x/x86_64/src/s/signalp/signalp6_fast"
            mode = "fast"
        }
    }
}
