profiles {
    slurm {
        process {
            executor       = 'slurm'
            queue          = 'epyc'
            clusterOptions = '-N 1 -n 1'
            shell          = ['/bin/bash', '-l']
            errorStrategy  = { task.attempt < 3 ? 'retry' : 'finish' }
            maxRetries     = 2
        }
        executor {
            queueSize                    = 200
            submitRateLimit              = '20/1min'
        }
    }

    local {
        process.executor = 'local'
        process.shell    = ['/bin/bash', '-l']
    }

    funannotate {
        workDir = "${launchDir}/work.funannotate"
        cleanup = true
        process {
            withName: 'FUNANNOTATE_PREDICT' {
                queue  = 'epyc'
                memory = '32 GB'
                time   = '72h'
            }
            withName: 'FUNANNOTATE_ANNOTATE' {
                queue  = 'epyc'
                memory = '64 GB'
                time   = '24h'
            }
        }
        report {
            enabled   = true
            file      = "${launchDir}/logs/funannotate-report.html"
            overwrite = true
        }
        trace {
            enabled   = true
            file      = "${launchDir}/logs/funannotate-trace.txt"
            overwrite = true
        }
    }

    antismash {
        workDir = "${launchDir}/work.antismash"
        process {
            withName: 'ANTISMASH' {
                queue  = 'epyc'
                memory = '16 GB'
                time   = '4h'
            }
        }
        report {
            enabled   = true
            file      = "${launchDir}/logs/antismash-report.html"
            overwrite = true
        }
        trace {
            enabled   = true
            file      = "${launchDir}/logs/antismash-trace.txt"
            overwrite = true
        }
    }
}

env {
    NXF_EXIT_STATUS_READ_TIMEOUT_MILLIS = 150000
}
